body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background: url("../img/roverpart.jpg");
    background-size:cover;
    background-attachment:fixed;

}


h1, h2, h3, h4, h5, h6, p {
    margin: 4px;
    padding-right: 15px;
    padding-left: 15px;
}
a img {
    border: none;
}


.container {
    margin-top:500px;
}

#jhacktlogo {
    display: flex;
    align-self:right;
    height: 28px;
    width: auto;
}

.content {
    min-height:500px;
    padding: 10px;
    background: #FFF;
}


.content ul, .content ol { 
    padding: 0 15px 15px 40px;
}


.footer {
        background: #c7d4d9;
}


